*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainBoxxs{
    background-color: #fff;
    min-height: 100vh;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logInBox{
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.logInBox .img{
    width: 350px;
}
.logInBox .img img{
    width: 100%;
}
.logInBox .loginForm{
    width: 400px;
    /* border: 2px solid lime; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.loginForm input{
    margin: 20px 0;
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-family: cursive;
    outline: none;
    font-size: large;
}

.loginForm input::placeholder{
    font-family: cursive;
}

.loginForm button{
    display: block;
    margin: 0 0 0 auto;
    width: 120px;
    padding: 8px;
    background-color: #6C63FF;
    outline: none;
    border: none;
    border-radius: 8px;
    color: wheat;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width:776px)  {
        .logInBox{
            flex-wrap: wrap;
        }
}
@media only screen and (max-width:450px)  {
    .logInBox{
        
        width:90% ;
    }
}