*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: tomato;
    padding: 8px;
    font-size: large;
    display: flex;
    justify-content: space-around;
}
.navLinks{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
}
.header .navLink{
    color: black;
    background-color: white;
    border-radius: 8px;
}

.footer{
    background-color: tomato;
    text-align: center;
    padding: 8px;
}